/* intro title */
@keyframes titleMove {
  0% {
    transform: translateY(100%);
  }
}
/* intro star */
@keyframes starwrapMove {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(0);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

/* about rabbit */
@keyframes rabbitMove {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
/* about tag */
@keyframes tagRoll {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-60px);
  }
  35% {
    transform: translateY(-60px);
  }
  50% {
    transform: translateY(-120px);
  }
  60% {
    transform: translateY(-120px);
  }
  75% {
    transform: translateY(-180px);
  }
  85% {
    transform: translateY(-180px);
  }
  100% {
    transform: translateY(0);
  }
  110% {
    transform: translateY(0);
  }
}

/* contact txt */
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
/* contact cherry */
@keyframes cherryMoveL {
  0% {
    transform: translateX(45px) rotate(3deg);
  }
  50% {
    transform: translateX(40px) rotate(-3deg);
  }
  100% {
    transform: translateX(45px) rotate(3deg);
  }
}